body {
    background: #000000;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

input[type="number"] {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

input[type="number"]:focus {
    border-color: #00bfff;
    box-shadow: 0 0 5px #00bfff;
}

button.optButton {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease; 
}

button.optButton:hover {
    background-color: white;
    color: black;
}

button.sectColorBtn {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 2px 7px;
    cursor: pointer;
    transition: all 0.3s ease; 
}

button.sectColorBtn:hover {
    background-color: white;
    color: black;
}

#doBox {
    max-width: 350px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.colorNumIn {
    max-width: 75px;
    background-color: red;
    padding-right: 10px;
}

#sectBox {
    border: white 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}